# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#   name = 原　隆太
#   email = ryuta@hararyuutanoMacBook-Pro.local
[user]
  name = ryutah
  email = ryuta0221@gmail.com
[core]
  editor = /usr/local/bin/nvim
[init]
  templatedir = /Users/ryutah/.git_tmp
[ghq]
  root = ~/.go/src
  root = ~/projects
[commit]
  template = ~/projects/github.com/ryutah/config_templates/gitmessage.txt
[alias]
  plog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  grapha = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  co = checkout
  clear = "!sh -c 'git branch --merged | grep -v -E \"^\\*.*\" | xargs git branch -d'"
  sync = "!sh -eu -c 'git co $1 && git pull origin $1 && git fetch origin --prune && git clear' -"
[gpg]
	program = /usr/local/bin/krgpg
[hub]
	protocol = https
[credential]
	helper = osxkeychain
[diff]
  tool = nvimdiff
[merge]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvimdiff"]
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[mergetool "vscode"]
  cmd = code --wait $MERGED --diff $LOCAL $REMOTE
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[credential "https://source.developers.google.com"]
  helper = gcloud.sh
